.section {
  padding: 150px 0;
}
.heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}
.btn{
  background-color: #fed136;
  border-color: #fed136;
  font-size: 18px;
  padding: 20px 40px;
  font-weight: 700;
  color: white;
}
.btn a{
  text-decoration: none;
  color: white;
}
.btn:hover{
  background-color: #ffa136;
  border-color: #ffa136;
  color: white;
}

.subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}